body{
    background-image: url("https://i.ibb.co/HtfMdJS/bg.webp");
    background-size: cover;
    margin: 0%;
    height: 100vh;
}
header{
    /* border: 2px solid white; */
    font-family: "Poppins", sans-serif;
    padding: 20px;
    color: white;
    position: sticky;
    top: 0%;
}
.logobox{
    /* border: 2px solid red; */
    display: inline-block;
    width: 200px;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
}

.navbox{
    /* border: 2px solid green; */
    display: inline-block;
    width: 600px;
    position: absolute;
    right: 20px;
    
    
}
.navbox>a{
    margin: 20px;
    color: white;
    text-decoration: none;
    transition-timing-function: 0.5s;
}

#home{
    color: salmon;
}
.navbox>a:hover{
    color: salmon;
}
.heading{
    /* border: 2px solid white; */
    color: salmon;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    width: 500px;
    top: 60px;
    left: 70px;
}
.heading+h3{
    /* border: 2px solid white; */
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    width: 500px;
   
    left: 90px;
}
.heading+h3+p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 2px solid white; */
    position: relative;
    width: 400px;
   word-spacing: 2px;
    left: 80px;
    font-style: italic;
    top: 0px;
}
.btn{
    width: 150px;
    padding: 15px;
    border: 2px solid salmon;
    background-color: salmon;
    color: black;
    font-family: "Poppins", sans-serif;
    position: relative;
    left: 80px;
    top: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    background-color: black;
    color: white;
}
footer{
    color: white;
    bottom: 0%;
    font-family: "Poppins", sans-serif;
    position: fixed;
}